/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/views/auth/register.blade_BACKUP_1073.php
resources/views/auth/register.blade_BASE_1073.php
resources/views/auth/register.blade_LOCAL_1073.php
resources/views/auth/register.blade_REMOTE_1073.php
