body.login-body{
  margin:0;
  padding:0;
  background-image: url('/img/ShatteredBackboard1s.jpg');
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

p.login-p{
  margin: 0;
  text-align: left;
  font-size: 12px;
}

.login-logo{
  position: relative;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

h1.login-h1{
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px black inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}

/*Register Box CSS */
.registerbox{
  width:20%;
  min-width: 350px;
  background: #000;
  color: #fff;
  margin: auto;
  box-sizing: border-box;
  padding: 10px 30px;
  text-align: center;
}

.registerbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.registerbox input{
  width: 100%;
  margin-bottom: 20px;
}


.registerbox input[type="name"], input[type="email"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.registerbox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.registerbox a:hover
{
  color: #e9782f; //orange
}

.orange-button
{
  text-transform: uppercase;
  margin-top: 20px;
  border: none;
  outline: none;
  height: 40px;
  background: #e9782f; //orange
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.orange-button:hover
{
  cursor: pointer;
  background: #ddd9ce;
  color: #000;
}

/*Account Page*/
.logout-button input[type="submit"]{
  width: 100%;
  margin-bottom: 20px;
  border: none;
  outline: none;
  height: 40px;
  background: #e9782f;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.logout-button input[type="submit"]:hover
{
  curser: pointer;
  background: #ddd9ce;
  color: #000;
}

body.account-body{
  margin:0;
  padding:0;
  background-image: url('/img/ShatteredBackboard1s.jpg');
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

h1.account-h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

h2.account-h2{
  text-align: center;
  font-family: nimbus-sans, sans-serif;
  font-size: 20px;
  padding: 0 0 20px;
}

p.account-p{
  text-align:left;
  font-family: nimbus-sans, sans-serif;
  font-size: 18px;
  padding: 0 0 20px;
}

.account-details-box{
  width: 320px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.account-details-box a{
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: darkgrey;
}

.account-body input[name="optIn"]{
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

/*End of Account Page*/


/*Password Reset Page*/
body.password-reset-body{
  margin:0;
  padding:0;
  background-image: url('/img/ShatteredBackboard1s.jpg');
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.password-reset-box{
  width: 320px;
  height: 300px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.password-reset-box p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.password-reset-box input{
  width: 100%;
  margin-bottom: 20px;
}


.password-reset-box input[type="name"], input[type="email"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.password-reset-box input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background: #e9782f;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.password-reset-box input[type="submit"]:hover
{
  curser: pointer;
  background: #ddd9ce;
  color: #000;
}

.password-reset-box a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.password-reset-box a:hover
{
  color: #e9782f;
}

/*End of Password Reset Page*/

.panel-footer{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
